<h1>New User</h1>

<div class="booyah-box col-xs-6 col-xs-offset-1">
  <h1>Input New user Details</h1>
  <%=simple_form_for @user do |f| %>
    <%=f.input :name%>
    <%=f.input :side_id%>
    <br />
    <%=f.submit 'Create', class: 'btn btn-primary'%>
  <%end%>
  <br />
</div>